body{
    margin-top: 0px;
    background-color: lightgray;
}
.main{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: lightgray;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: black;
    text-align: center;
    padding: 0px 26px;
    text-decoration: none;
    font-size: 20px;
}
.sidebar{
    background-color: white;
    color: black;
    height: 70%;
}
.sidebar a{
    margin-left: 40px;
    display: block;
    color: black;
    padding-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}

.card-body
{
    padding-left: 5px;
}